.vs/
packages/
WsServer1/bin/
WsServer1/obj/Release/_WPPLastBuildInfo.txt
WsServer1/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
WsServer1/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
WsServer1/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
WsServer1/obj/Release/Package/PackageTmp/favicon.ico
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
WsServer1/obj/Release/Package/PackageTmp/Global.asax
WsServer1/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
WsServer1/obj/Release/Package/PackageTmp/Content/bootstrap.css
WsServer1/obj/Release/Package/PackageTmp/Content/Site.css
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/_ViewStart.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Web.config
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Shared/_Layout.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/ResourceModel.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/Index.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/Api.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/HelpPage.css
WsServer1/obj/Release/Package/PackageTmp/ApplicationInsights.config
WsServer1/obj/Release/WsServer1.csproj.FileListAbsolute.txt
WsServer1/obj/Release/WsServer1.csproj.CopyComplete
WsServer1/obj/Release/TransformWebConfig/transformed/Web.config
WsServer1/obj/Release/TransformWebConfig/original/Web.config
WsServer1/obj/Release/TransformWebConfig/assist/Web.config
WsServer1/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WsServer1/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WsServer1/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WsServer1/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
WsServer1/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
WsServer1/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
WsServer1/obj/Release/Package/PackageTmp/Web.config
WsServer1/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
WsServer1/obj/Release/Package/PackageTmp/Views/Web.config
WsServer1/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
WsServer1/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
WsServer1/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
WsServer1/obj/Release/Package/PackageTmp/Scripts/respond.min.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/respond.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-2.0.2.min.map
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-2.0.2.min.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-2.0.2.js
WsServer1/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.map
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml
WsServer1/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml
